body{
    background-color: lightgoldenrodyellow;
    text-align: center;
}
.ibox{
    color: blue;
    background-color: aquamarine;
}
.ans1{
    background-color:orange;
}
.ans-{
    background-color: white;
}
.ans{
    background-color: purple;
}
.ans2{
    background-color:green;
}